<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>

  </system.web>
  <location path="ExclusivoAlgunosUsuarios.aspx">
    <system.web>
      <authorization>
        <allow users="ravilla.educacionit@gmail.com,ravilla.educacionit2@gmail.com" />
        <deny users="algunusuario@algundominio.com"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ExclusivoSuscriptores.aspx">
    <system.web>
      <authorization>
        <allow roles="Suscriptor" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>
